# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Home_Work\2021_07_19_wechat_requests_01_02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
